<div class="active-storage">
  <% if attachment.attached? %>
    <div class="active-storage__preview">
      <% if attachment.blob.image? %>
        <%= link_to image_tag(attachment.blob.service_url, class: 'active-storage__image'),
            attachment.blob.service_url, target: 'blank' %>
      <% else %>
        <%= link_to(attachment.blob.service_url, class: 'active-storage__link') %>
      <% end %>
    </div>

    <%= builder.check_box("delete_#{field_name}", label: "Delete #{field_name}") %>
  <% end %>

  <div class="progress" style="display: none">
    <div class="progress-bar progress-bar-striped active"></div>
  </div>

  <%= builder.raw_file_field(field_name, class: 'active-storage__field', direct_upload: true) %>
</div>
